<div id="topics"> 
    <% topics.forEach(topic => { %>
            <% topic.criteria.forEach(crit => { 
                let critId = `crit-${topic.number}-${crit.criterium.number}`
                let id = topic.number+'.'+crit.criterium.number
                if (shortList.includes(id) || (errors[id] !== undefined)) {
            %>
                <h2 id="<%= critId %>">
                    <a href="https://accessibilite.public.lu/fr/rgaa4/criteres.html#<%= critId %>">Critère <%= topic.number %>.<%= crit.criterium.number %></a>
                    : <%- md.renderInline(crit.criterium.title) %></h2> 
                    <% if (errors[id] !== undefined) { %>
                        <% errors[id].forEach(e => { %>
                            <h3><%= e.description %></h3>
                            <% if (e.help !== undefined) { %>
                                <p class="MsoNormal">Documentation : <a href="<%=e.helpUrl %>" hreflang="en"><%= e.help %></a></p>
                            <% } %>
                            <p  class="MsoNormal">Degré de confiance : <%= i18n.__(e.confidence) %></p>
                            <p class="MsoNormal">Impact : <%= i18n.__(e.impact) %></p> 
                            <p  class="MsoNormal">Occurrences :</p>
                            <ul>
                            <% Object.keys(e.context).forEach(f => { %>
                                <li>
                                <p><%= f %></p>
                                    <ul>
                                    <% Object.keys(e.context[f]).forEach(failure => { %>
                                        <li><%= failure %>
                                            <ul>
                                                <% e.context[f][failure].forEach(node => { %> 
                                                    <% node.target.forEach(target => { %>
                                                    <li><code><%= `${target}` %></code></li>
                                                    <% }) %>
                                                <% }) %>
                                            </ul>
                                        </li>
                                    <% }) %>
                                    </ul>
                                </li>
                            <% }) %>
                            </ul>
                        <% }) %>
                    
                    <% } else { %>
                        <p class="MsoNormal">&nbsp;</p>
                    <% } %>
            <% 
                }
            })%>
    <% }) %>
</div> 