<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Audit simplifié</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <style>
       p.MsoTitle, li.MsoTitle, div.MsoTitle
	{mso-style-priority:10;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Title Char";
	mso-style-next:Normal;
	margin:0cm;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:28.0pt;
	font-family:"Calibri Light",sans-serif;
	mso-ascii-font-family:"Calibri Light";
	mso-ascii-theme-font:major-latin;
	mso-fareast-font-family:"Times New Roman";
	mso-fareast-theme-font:major-fareast;
	mso-hansi-font-family:"Calibri Light";
	mso-hansi-theme-font:major-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:major-bidi;
	letter-spacing:-.5pt;
	mso-font-kerning:14.0pt;}
     </style>
</head>
<body>
    <main>
      <p class="MsoTitle">Audit d'accessibilité simplifié</p>
      <h1>Fiche signalétique</h1>
      <p class="MsoNormal">Site: <%= pages[0].replace('http://','').replace('https://','').split(/[/?#]/)[0] %></p>
      <p class="MsoNormal">Évaluateur : XXX</p>
      <p class="MsoNormal">Date de l’évaluation : <%= new Date().toLocaleDateString('fr', {year: 'numeric', month: 'long', day: 'numeric' }) %></p>
      <p class="MsoNormal">Échantillon de pages :</p>
      <ul>
        <% pages.forEach(e => { %>
          <li><a href="<%= e %>"><%= e %></a></li>
        <% }) %>
      </ul>
      <p class="MsoNormal">Méthode d'évaluation : Méthode de contrôle simplifiée de l’accessibilité pour le Luxembourg – v1</p>
      <p class="MsoNormal">Référentiel : <a href="https://accessibilite.public.lu/fr/rgaa4/">RGAA v4</a></p>

      <h1>Avertissement</h1>
      <p class="MsoNormal">Attention, l’audit effectué est un audit simplifié et non un audit de conformité (ou audit "complet"). Il a vocation à détecter une série de problèmes d’accessibilité mais n'est pas exhaustif. Le fait qu’aucun problème ne soit remonté pour un critère RGAA donné ne signifie pas qu’il n’y a pas de problème d’accessibilité pour ce critère.
      </p>
      <h1>Résumé</h1>
      TBD
      <h1>Problèmes d’accessibilité par critère</h1>
        <%- data %>
      </div>
    </main>
</body>
</html>